//dotfile
{
    "presets": [
        [
            //the environment where targets are going to be
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ]
}